<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185151495763-03aai42853nhb1eu8ubv27dperbtl4n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185151495763-03aai42853nhb1eu8ubv27dperbtl4n1</string>
	<key>API_KEY</key>
	<string>AIzaSyDNjKX5HJqwTT1EvHgl2EhgPijfKUPKYE4</string>
	<key>GCM_SENDER_ID</key>
	<string>185151495763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmhost</string>
	<key>PROJECT_ID</key>
	<string>meishi-7d80a</string>
	<key>STORAGE_BUCKET</key>
	<string>meishi-7d80a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185151495763:ios:e622b43ed73eb4ae4130a6</string>
	<key>DATABASE_URL</key>
	<string>https://meishi-7d80a.firebaseio.com</string>
</dict>
</plist>